/* imports */

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

/* main page */

body {
  box-sizing: border-box;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.05em;
  margin: 0;
  padding: 0;
  background-color: rgba(#333, .5);
}

/* organizing sections */

section {
  width: 100%;
  padding: 20px 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 50%;
  min-width: 500px;
  padding: 0;
  margin: 0 auto;
}

a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.35em;
  height: 2em;
  line-height: 2em;
}

a:hover, a:focus {
  outline: none;
}

/* first section */


.part-one {
  background-color: #CD4436;
}

/* left aimation */

.one-left a {
  overflow: hidden;
}

.one-left a span {
  text-align: center;
  position: relative;
  display: inline-block;
  transition: .3s;
  padding: 0px 10px;
}

.one-left a span::before {
  position: absolute;
  top: 100%;
  content: "Title";
  font-weight: bold;
}

.one-left a span:hover, .first-one .left a span:focus {
  transform: translateY(-100%);
}

/* right animation */

.one-right a {
  overflow: hidden;
}

.one-right a span {
  text-align: center;
  position: relative;
  display: inline-block;
  transition: .3s;
  padding: 0px 10px;
}

.one-right a span::before {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  color: #CD4436;
  background-color: #fff;
  content: "Burger Animation";
  font-weight: bold;
}

.one-right a span:hover, .first-one .right a span:focus {
  transform: translateY(-100%);
}

/* second section */

.part-two {
  background-color: #435A6B;
  transition: color 0.3s;
}

/* left animation */

.part-two .two-left a::before, .part-two .two-left a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
}

.part-two .two-left a::before {
  top: 0;
  transform: translateY(-10px);
}

.part-two .two-left a::after {
  top: 0;
  transform: translateY(10px);
}

.part-two .two-left a:hover, .part-two .two-left a:focus {
  color: #fff;
}

.part-two .two-left a:hover::before, .part-two .two-left a:hover::after,.part-two .two-left a:focus::before, .part-two .two-left a:focus::after {
  opacity: 1;
  transform: translateY(0);
}

/* links */



/* buttons */

.button-home {
  position: relative;
  top: 10px;
  height: 24px;
  width: auto;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background: linear-gradient(to top right, #18534F 0%, #226D68 100%);
  border: none;
  border-radius: 15px;
}

.button-home:hover {background: linear-gradient(to top right, #D6955B 0%, #FEEAA1 100%)}

.button-home:active {
  background-color: #e26411;
  transform: translateY(4px);
}
