@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import url(../global.css);

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	background: #42A7A1;
  color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card {
  position: absolute;
  height: 220px;
  width: 280px;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
  transform: translate(-50%,-50%);
  background: #fff;
}
/* header */

.card .header {
  position: relative;
  height: 60px;
  width: 100%;
  background: #F1BA64;
  color: #fff;
}

.card .header .title {
  top: 12px;
  left: 15px;
}

.card .header .date {
  top: 30px;
  left: 15px;
}

.card .header .type {
  top: 14px;
  right: 15px;
}

.card .header .value {
  top: 28px;
  right: 15px;
}

.card .header .small {
  position: absolute;
  font-weight: 400;
  font-size: 11px;
}

.card .header .big {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

/* parameters */

.card .parameters {
  text-align: right;
  padding: 10px 0 14px 0;
}

.card .parameters span  {
  position: relative;
  font-size: 9px;
  color:#606060;
  padding: 0 10px 0 25px;
}

.card .parameters span::before {
  position: absolute;
  left: 6px;
  top: 6px;
  display: block;
  content: '';
  width: 11px;
  height: 3px;
  border-radius: 3px;
}

.card .parameters .blue::before {
  background: #7BA2FF;
}

.card .parameters .red::before {
  background: #FA7373;
}

/* graphic */

.stats {
  position: relative;
  height: 81px;
  width: 260px;
  margin: 0 auto;
}

.stats div[class*="line-"]{
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: #F2F2F2;
}
.stats .line-1 {
  top: 0;

}
.stats .line-2 {
  top: 40px;
}

.stats .line-3 {
  top: inherit;
  bottom: 0;
}

.stats .data svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.stats .data polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
}

.stats .data.red polyline {
  stroke: #FA7373;
}

.stats .data.blue polyline {
  stroke: #7BA2FF;
}

.stats .data .tooltip {
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translate3d(-50%, 10px, 0);
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  padding: 8px 6px;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
}

.stats .data .tooltip:after {
  position: absolute;
  display: block;
  content: '';
  height: 6px;
  width: 6px;
  left: 50%;
  margin-left: -3px;
  bottom: -3px;
  transform: rotate(45deg);
}

.stats .data [class*="point-"] {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 10;
}

.stats .data [class*="point-"]:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}

.stats .data.red [class^="point-"], .tooltip, .tooltip:after {
  background: #FA7373;
}

.stats .data.red .point-1 {
  left: 7px; top: 43px;
}

.stats .data.red .point-2 {
  left: 48px; top: 9px;
}

.stats .data.red .point-3 {
  left: 88px; top: 20px;
}

.stats .data.red .point-4 {
   left: 128px; top: 8px;
}

.stats .data.red .point-5 {
   left: 169px; top: 35px;
}

.stats .data.red .point-6 {
  left: 209px; top: 45px;
}

.stats .data.red .point-7 {
  left: 249px; top: 16px;
}

.stats .data.blue [class^="point-"], .tooltip, .tooltip:after {
  background: #7BA2FF;
}

.stats .data.blue .point-1 {
  left: 7px; top: 58px;
}

.stats .data.blue .point-2 {
  left: 48px; top: 47px;
}

.stats .data.blue .point-3 {
  left: 88px; top: 62px;
 }

.stats .data.blue .point-4 {
  left: 128px; top: 52px;
}

.stats .data.blue .point-5 {
  left: 169px; top: 58px;
}

.stats .data.blue .point-6 {
  left: 209px; top: 71px;
}

.stats .data.blue .point-7 {
  left: 249px; top: 61px;
}

/* days */

.days {
  width: 280px;
  margin: 0 auto;
}

.days .day {
  display: block;
  float: left;
  width: calc(100% / 7);
  font-size: 9px;
  color: #949494;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
